---
import { Code } from "astro:components";
---

<div class="mx-auto rounded-xl border overflow-hidden max-w-4/5">
  <div class="flex flex-col gap-y-2 border-b border-border p-4">
    <div class="flex flex-row gap-x-2">
      <div class="h-2 w-2 rounded-full bg-red-500"></div>
      <div class="h-2 w-2 rounded-full bg-yellow-500"></div>
      <div class="h-2 w-2 rounded-full bg-green-500"></div>
    </div>
  </div>
  <Code
    theme="catppuccin-mocha"
    lang="ts"
    code={`
  document.addEventListener("DOMContentLoaded", () => {
    const container = document.getElementById("app");
    const newParagraph = document.createElement("p");
    newParagraph.textContent = "This paragraph was added by JavaScript!";
    newParagraph.classList.add("text-lg", "text-blue-400", "mt-4");
    container.appendChild(newParagraph);
  });
      `}
  />
</div>
